<div class="button-grid">
  <div class="button-row">
    <button>A</button>
    <button>Ą</button>
    <button>B</button>
    <button>C</button>
    <button>Ć</button>
    <button>D</button>
    <button>E</button>
    <button>Ę</button>
  </div>

  <div class="button-row">
    <button>F</button>
    <button>G</button>
    <button>H</button>
    <button>I</button>
    <button>J</button>
    <button>K</button>
    <button>L</button>
    <button>Ł</button>
  </div>

  <div class="button-row">
    <button>M</button>
    <button>N</button>
    <button>Ń</button>
    <button>O</button>
    <button>Ó</button>
    <button>P</button>
    <button>R</button>
    <button>S</button>
  </div>

  <div class="button-row">
    <button>Ś</button>
    <button>T</button>
    <button>U</button>
    <button>W</button>
    <button>Y</button>
    <button>Z</button>
    <button>Ź</button>
    <button>Ż</button>
  </div>

</div>
