<div class="top-container">
  <div>{{category}}</div>
  <div><img [src]="getCurrentHangmanPicturePath()"></div>
</div>

<div class="phrase-container">
  <div *ngFor="let letter of phrase, let i = index">{{phraseLettersGuessed[i] ? letter : '_'}}</div>
</div>

<div class="button-grid">
  <div class="button-row">
    <button (click)="letterPressed('A')">A</button>
    <button (click)="letterPressed('Ą')">Ą</button>
    <button (click)="letterPressed('B')">B</button>
    <button (click)="letterPressed('C')">C</button>
    <button (click)="letterPressed('Ć')">Ć</button>
    <button (click)="letterPressed('D')">D</button>
    <button (click)="letterPressed('E')">E</button>
    <button (click)="letterPressed('Ę')">Ę</button>
  </div>

  <div class="button-row">
    <button (click)="letterPressed('F')">F</button>
    <button (click)="letterPressed('G')">G</button>
    <button (click)="letterPressed('H')">H</button>
    <button (click)="letterPressed('I')">I</button>
    <button (click)="letterPressed('J')">J</button>
    <button (click)="letterPressed('K')">K</button>
    <button (click)="letterPressed('L')">L</button>
    <button (click)="letterPressed('Ł')">Ł</button>
  </div>

  <div class="button-row">
    <button (click)="letterPressed('M')">M</button>
    <button (click)="letterPressed('N')">N</button>
    <button (click)="letterPressed('Ń')">Ń</button>
    <button (click)="letterPressed('O')">O</button>
    <button (click)="letterPressed('Ó')">Ó</button>
    <button (click)="letterPressed('P')">P</button>
    <button (click)="letterPressed('R')">R</button>
    <button (click)="letterPressed('S')">S</button>
  </div>

  <div class="button-row">
    <button (click)="letterPressed('Ś')">Ś</button>
    <button (click)="letterPressed('T')">T</button>
    <button (click)="letterPressed('U')">U</button>
    <button (click)="letterPressed('W')">W</button>
    <button (click)="letterPressed('Y')">Y</button>
    <button (click)="letterPressed('Z')">Z</button>
    <button (click)="letterPressed('Ź')">Ź</button>
    <button (click)="letterPressed('Ż')">Ż</button>
  </div>

</div>
